
	<form class="hammingForm" action="index.php?uc=result" method="post">
		<h2 class="title">Hamming</h2>
		
		<div class="form-group">
			<input class="form-control dna_1" type="text" name="dna_1" placeholder="DNA n°1" required>
		</div>

		<div class="form-group">
			<input class="form-control dna_2" type="text" name="dna_2" placeholder="DNA n°2" required>
		</div>

		<div class="center">
			<input class="btn btn-success width-120" type="submit" value="Valider">
			<input class="btn btn-danger width-120" type="reset" value="Effacer">
		</div>
	</form>